node_modules
.next
out
build
dist
coverage
.env
.env.local
.env.production.local
.env.development.local
.DS_Store
*.log
*.lock
.turbo
.vercel
.idea
.vscode/settings.json
.vscode/launch.json
temp/
tmp/
*.tmp
*.temp
.cache
.parcel-cache
.nyc_output
junit.xml
test-results/
playwright-report/
blob-report/
playwright/.cache/
.storybook-out
storybook-static
chromatic-build
